spring.application.name=fipe-search

spring.datasource.url=jdbc:postgresql://localhost:5432/fipesearch
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha

spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.defer-datasource-initialization=true

spring.sql.init.mode=always

spring.data.redis.host=localhost
spring.data.redis.port=6379

app.cache.name=fipe
app.cache.ttl-hours=24

logging.level.com.jean.fipe_search=DEBUG

spring.datasource.hikari.maximum-pool-size=5
spring.datasource.hikari.connection-timeout=250